select {
	height: 300px;
	width: 200px;
	font-size: 25px;
}

#record_details {
	height: 300px;
	width: 200px;
	font-size: 25px;
	position: absolute;
	top: 0;
	right: 0;
}

#get_file {
	background: lightblue;
	padding: 3px;
	border: 1px solid gray;
	border-radius: 25px;
}