<form action="index_submit" method="get" accept-charset="utf-8">
	<select name="students" id="students" multiple="yes" onchange="" size="1">

	</select>
	<select name="subjects" id="subjects" multiple="yes" onchange="" size="1">

	</select>
	<select name="assignment" id="assignment" multiple="yes" onchange="" size="1">

	</select>
	<select name="record" id="record" multiple="yes" onchange="" size="1">

	</select>
</form>
<div id="record_details">
	<span id="">Meldning</span>
	<span id="record_msg"></span>
	
	<div id="file">
		<span id="">Filnavn</span>
		<span id="file_name"></span>
		
		<span id="">Beskrivelse</span>
		<span id="file_desc"></span>
		
		<a id="get_file">Last ned</a>
	</div>
</div>