<form action="index_submit" method="get" accept-charset="utf-8">
	<select name="students" id="students" multiple="yes" onchange="" size="1">

	</select>
	<select name="subjects" id="some_name" multiple="yes" onchange="" size="1">

	</select>
	<select name="assignment" id="some_name" multiple="yes" onchange="" size="1">

	</select>
	<select name="record" id="some_name" multiple="yes" onchange="" size="1">

	</select>
</form>
<div id="details">
	
</div>